<div class="container">
  <div class = "row col-12 mx-auto">
    <div class = "col-md-3">
      <%= render 'public/searches/search_genre'%>
    </div>
    <div class = "col-md-8 offset-md-1">
      <h2><%= @genre.name %>(全<%= @items.count %>件)</h2>
      <%= render 'public/items/index', items: @items %>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <%= paginate @items %>
  </div>
</div>