<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="mb-4" style="font-weight:bold; color:#A07B35; font-family:'Times New Roman'; font-size:45px;"><strong>Items Search results</strong></h2>
        </div>
      </div>
      <div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered table-condensed" style="background-color: #fffaf0;">
   <tr>
     <th style="background-color: #ccc8c0; width: 10%;"></th>
     <th style="background-color: #ccc8c0; width: 15%;">商品名</th>
     <th style="background-color: #ccc8c0; width: 15%;">商品説明</th>
     <th style="background-color: #ccc8c0; width: 10%;">ジャンル</th>
     <th style="background-color: #ccc8c0; width: 10%;">税込価格<br>(税抜価格)</th>
     <th style="background-color: #ccc8c0; width: 15%;">販売状況</th>
     <th style="background-color: #ccc8c0; width: 15%;" colspan="5"></th>
   </tr>
     </thead>
      <tbody style="background-color: #fffaf0;">
      <% if @items.present? %>
      <% @items.each do |item| %>
       <tr>
        <td><%= image_tag item.get_image(100,100) %> </td>
        <td><%= item.name %></td>
        <td><%= item.introduction %></td>
        <td><%= item.genre ? item.genre.name : 'ジャンルが設定されていません' %></td>
        <td>
         <%= item.with_tax_price.to_s(:delimited) %> 円<br>(<%= item.price.to_s(:delimited) %> 円)
        </td>
        <td><%= item.is_active ? '販売中' : '販売停止中' %></td>
        <td>
         <%= link_to "購入する", item_path(item), class: "btn btn-success" %>
        </td>
       </tr>
       <% end %>
       <% else %>
       <tr>
        <td>Item not found.</td>
       </tr>
      <% end %>
      </tbody>
     </table>
    </div>
   </div>
  </div>
 </div>
</div>