<div class="container">
 <div class = "row mt-5">
    <div class = "col-md-2 mt-5">
      <%= render 'public/searches/search_genre', genres: @genres %>
    </div>
    <div class = "col-md-1"></div>
  <div class = "col-md-8 mt-4">
     <h2><%= @genre.name %>(全<%= @items.count %>件)</h2>
    <div class = "row">
     <div class = "row mt-3">
      <%= render 'public/items/index', items: @items %>
     </div>
    </div>
   <div class="col d-flex justify-content-center">
    <%= paginate @items %>
   </div>
  </div>
 </div>
</div>