<div class= "container">
  <div class= "row">
    <div class="col-md-3" style="margin-top: -50px;">
      <div class="row-mt-6">
        <div class="logo-section d-flex justify-content-center ml-2">
        <a class="navbar-brand " href="/admin" ><span><%= image_tag 'Nagano_Cake__6_-removebg-preview (1).png', size: "350x350" %></span></a>
      </div>
      </div>
      <div class="row-mt-2">
      <%= render 'public/searches/search_genre', genres: @genres %>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
  <div class="container-fluid" style="background-image: url('<%= asset_path('Pancake Day (1).jpg') %>'); background-size: cover; height: 350px;">
    <div class="row align-items-start justify-content-start" style="height: 100%;">
      <div class="col-mt-3" style="padding: 30px; margin-right: 10px; margin-bottom: 40px; margin-top:12px; font-family: 'Playfair Display', serif; color: black;">
        <h5 class="text-left"><span style="font-style: italic; font-weight: bold;">ようこそ、ながのCAKEへ！</span></h5>
        <h6 class="text-left" style="font-size: 13px; line-height: 1.2; font-style: italic;">
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </h6>
      </div>
    </div>
  </div>


    <div>
      <h4 class="mt-2", style="color:#A07B35; font-family:'Times New Roman';"><strong>・・・ NEW ・・・</strong></h4>
      <div class = "d-flex justify-content-around">
        <div class="search-items d-flex flex-wrap">
          <table>
            <tbody>
              <tr>
                <% @items.each do |item| %>
                <td class: "align-baseline text-center", style="padding-right: 30px;">
                  <%= link_to item_path(item) , :style => "color: #A07B35;" do%>
                    <%= image_tag item.get_image(140, 140), class: "img-fluid" %><br>
                    <%= item.name %><br>
                    <% end %>
                    <p style="color: #A07B35;">¥ <%= item.with_tax_price.to_s(:delimited) %></p>
                    
                </td>
                <% end %>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    　</div>
    　<div style= "display:flex; justify-content: flex-end">
          <%= link_to 'All Item >>>', items_path, :style => "color: #A07B35; font-weight:bold; font-size:20px; font-family:'Times New Roman';"%>
        </div>
    </div>
  </div>
</div>