<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h4 class = "pl-5 pb-3" style="font-weight:bold; color:#A07B35; font-family:'Times New Roman'; font-size:20px;">
      <span style="background-color: rgba(204, 200, 192, 0.5) ">注文履歴詳細</span>
    </h4>

      <div class="col-10">
        <table class="table table-borderless">
          <tr>
            <td><strong style="font-weight:bold;">購入者</strong></td>
            <td>
              <%= link_to admin_customer_path(@order), :style => "color: #A07B35;" do %>
                <%= @order.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong style="font-weight:bold;">注文日</strong></td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td><strong style="font-weight:bold;">配送先</strong></td>
            <td>
              〒<%= @order.postal_code %>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td><strong style="font-weight:bold;">支払方法</strong></td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td><strong style="font-weight:bold;">注文ステータス</strong></td>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
                <!--ステータスの値（整数値）が表示される-->
                <%#= f.select :status, Order.statuses_i18n.keys.map %>

                <!--ステータスのキー（enumで定義された値）が表示される-->
                <!--.keys.map は、Rubyのハッシュからキーを取り出して配列に変換する処理-->
                <%= f.select :status, Order.statuses.keys.map { |status| [I18n.t("enums.order.status.#{status}"), status] } %>
                  <%= f.submit "更新",class:"ml-4 btn btn-success" %>
                <% end %>
            </td>
          </tr>
        </table>
      </div>

      <div class="d-flex">
        <div class="col-10 d-flex align-items-end">
          <table class="table table-bordered table-condensed" style="background-color: #fffaf0;">
            <tr style="background-color: #ccc8c0;">
              <td><strong style="font-weight:bold;">商品名</strong></td>
              <td><strong style="font-weight:bold;">単価(税込)</strong></td>
              <td><strong style="font-weight:bold;">数量</strong></td>
              <td><strong style="font-weight:bold;">小計</strong></td>
              <td><strong style="font-weight:bold;">製作ステータス</strong></td>
            </tr>
            <% @order_details.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= number_with_delimiter(order_detail.price) %></td>
                <td><%= order_detail.amount %></td>
                <td><%= number_with_delimiter(order_detail.price * order_detail.amount) %></td>
                <td>
                  <!--引数として order_detail.order.id および order_detail.id を渡しています。これにより、注文詳細の親である注文と、注文詳細それ自体のIDが取得されます。
                  ルーティングの設定により、これらのIDが埋め込まれ、対応するパスが生成されます。
                  例えば、もし order_detail.order.id が 1 で order_detail.id が 2 の場合、admin_order_order_detail_path(1, 2) は /admin/orders/1/order_details/2 といったパスを生成することになります。-->
                  <%= form_with model: order_detail, url: admin_order_order_detail_path(order_detail.order.id,order_detail.id), method: :patch, local: true do |f| %>
                    <span><%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %></span>
                    <span class="ml-3"><%= f.submit "更新", class: "btn btn-success" %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="col-10 d-flex align-items-end pb-4">
          <table>
            <tr>
              <td class="pb-2"><strong class = "p-1 pb-2" style="font-weight:bold; color:#A07B35;">商品合計</strong></td>
              <td class="text-right align-items-center pl-3 pb-2 "><%= number_with_delimiter(@order_product_total) %>円</td>
            </tr>
            <tr>
              <td class="pb-2"><strong class = "p-1 pb-2" style="font-weight:bold; color:#A07B35;">送料</strong></td>
              <td class="text-right align-items-center pl-3 pb-2">800円</td>
            </tr>
            <tr>
              <td class="pb-2"><strong class = "p-1 pb-2" style="font-weight:bold; color:#A07B35;">請求金額合計</strong></td>
              <td class="text-right align-items-center pl-3 pb-2"><strong><%= number_with_delimiter(@order_product_total + 800) %>円</strong></td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>