<div class= "container">
  <div class= "row">
    <div class="col-12">
      <h4 style="font-weight:bold; color:#A07B35; font-family:'Times New Roman'; font-size:20px;">
        <span style="background-color: rgba(204, 200, 192, 0.5)">注文履歴一覧</span>
      </h4>
      <table class="table border-top mt-4">

        <thead style="background-color: #ccc8c0;">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to admin_order_path(order), :style => "color: #A07B35;" do %>
                  <%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                <% end %>
              </td>
              <td><%= order.name %></td>
              <td>
                <% total_amount = order.order_details.sum(&:amount) %>
                <%= total_amount %>
              </td>
              <td><%= order.status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @orders %>
      </div>
    </div>
  </div>
</div>
