<div class = "container">
  <div class = "row">
    <div class = "col-12 mx-auto">
     <h4 class="pl-5 pb-3" style="font-weight:bold; color:#A07B35; font-family:'Times New Roman'; font-size:20px;">
       <h2 class="mb-4" style="font-weight:bold; color:#A07B35; font-family:'Times New Roman'; font-size:45px;"><strong>Delivery Address Registration / List</strong></h2>
      </h4>

      <div class = col-12>
        <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
      <table class="table">
        <tr>
          <td class="form-group pr-5">
           <strong><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></strong>
          </td>
          <td class="form-group pb-2">
           <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td class="form-group pr-5">
           <strong><%= f.label :address, "住所" %></strong>
          </td>
          <td class="form-group pb-2" colspan="2" style="width:300px;">
           <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %>
          </td>
         </tr>
         <tr>
  <td class="form-group pr-5">
    <%= f.label :name, "<strong>宛名</strong>".html_safe %>
  </td>
  <td class="form-group pb-2">
    <%= f.text_field :name, placeholder: "令和道子", class: "form-control" %>
  </td>
  <td class="pb-2 pl-5">
    <%= f.submit "新規登録", class: "btn btn-success ml-5" %>
  </td>
</tr>

</table>

        <% end %>
      </div>

      <div class = col-10>
        <table class = " table table-bordered mt-5">
          <% unless @addresses.empty? %>
            <thead class="thead-light">
              <tr>
                <th style="background-color: #ccc8c0; width: 20%;"><strong style="font-weight:bold;">郵便番号</strong></th>
                <th style="background-color: #ccc8c0; width: 20%;"><strong style="font-weight:bold;">住所</strong></th>
                <th style="background-color: #ccc8c0; width: 20%;"><strong style="font-weight:bold;">宛名</strong></th>
                <th style="background-color: #ccc8c0; width: 20%;"></th>
              </tr>
            </thead>
            <tbody style="background-color: #fffaf0;">
              <% @addresses.each do |address| %>
                <tr>
                  <td class = "align-middle"><%= address.postal_code %></td>
                  <td class = "align-middle"><%= address.address %></td>
                  <td class = "align-middle"><%= address.name %></td>
                  <td class = "text-center" >
                    <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success btn-sm mr-3" %>
                    <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-danger btn-sm" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>