<div class = "container">
  <div class = "row">
    <div class = "col-10 mx-auto">
      <h1>ショッピングカート</h1>
      <% unless @cart_items.empty? %>
      <%= link_to "カートを空にする", cart_item_destroy_all_path, method: :delete, class: "btn btn-danger", data: { confirm: "本当に空にしますか？" } %>
      <table class = " table table-borderd">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <!--通貨フォーマット使用。localeで国の指定-->
            <td><%= cart_item.item.with_tax_price.to_s(:currency, locale: :ja) %></td>
            <td>
              <!--個数選択のセレクトボックスの作成-->
              <%= form_with model: cart_item, url: cart_item_path(cart_item,id) do |f| %>
                <!--item_idというキーに対してcart_item.item.idという値をブラウザに表示せず送信-->
                <%= f.hidden_field :item_id, value: cart_item.item.id %>
                <%= f.select :amount, *[1..10] %>
                <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <!--アイテムごとの小計-->
            <td><%= catr_item.subtotal.to_s(:currency, locale: :ja) %></td>
            <!--合計金額。eaach内繰り返し処理で加算する必要がある-->
            <%  @total_price += cart_item.subtotal %>
            <td>
              <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger", data: { confirm: "本当に空にしますか？" } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class = "row align-items-end">
        <div class = "col-3">
          <%= link_to "買い物を続ける", items_path, class: "btn btn-success" %>
        </div>
        <ul class = "list-group list-group-horizontal">
          <li class = "list-group-item list-group-item-secondary">合計金額</li>
          <li class = "list-group-item"><%= @total_price.to_s(:currency, locale: :ja) %></li>
        </ul>
      </div>
      <div class = "row mt-7 justify-content-center">
        <div class = "col-5">
          <%= link_to "情報入力に進む", new_order_path, class: "btn btn-lg btn-success" %>
        </div>
      </div>
      <% else %>
        <h3>カートは空です。</h3>
      <% end %>
    </div>
  </div>
</div>