<div class="container p-3">
  <div class="row">
    <h2 class="mb-4" style="font-weight:bold; color:#A07B35; font-family:'Times New Roman'; font-size:45px;"><strong>Confirm order information</strong></h2>
    <div class="col-md-12">
      <table class="table table-bordered table-condensed" style="background-color: #fffaf0;">
        <tr style="background-color: #ccc8c0;">
          <th style="background-color: #ccc8c0;">注文日</th>
          <th style="background-color: #ccc8c0;">配送先</th>
          <th style="background-color: #ccc8c0;">注文商品</th>
          <th style="background-color: #ccc8c0;">支払金額</th>
          <th style="background-color: #ccc8c0;">ステータス</th>
          <th style="background-color: #ccc8c0;">注文詳細</th>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %>
            </td>
            <td>
              <% order.order_details.each do |order_detail|  %>
                <p><%= order_detail.item.name %></p>
              <% end %>
            </td>
            <td><%= number_with_delimiter(order.total_price) %>円</td>
            <td><%= order.status_i18n %></td>
            <td class = "text-center"><%= link_to "表示する", order_path(order.id), class: "btn btn-info"  %></td>
          </tr>
        <% end %>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @orders %>
      </div>
    </div>
  </div>
</div>