<div class="container p-3">
  <div class="row">
    <div class="col-mt-4 mx-auto">
        <h2 class="mb-4" style="font-weight:bold; color:#A07B35; font-family:'Times New Roman'; font-size:45px;"><strong>Enter order information</strong></h2>
      <%= form_with model: @order, url: confirm_path, method: :post , local: true do |f|  %>
        <div><strong class = "p-1">支払方法</strong></div>
        <div class = "pl-4">
          <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
        </div>
        <div class = "pl-4">
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
        </div>

        <div><strong class = "p-1">お届け先</strong></div>
        <!--自身の住所-->
        <div class = "pl-3">
          <%= f.radio_button :select_address, 0, checked: true %>
          <%= f.label :address_type, "ご自身の住所" %>
        </div>
        <div class = "pl-5">
          〒<%= current_customer.postal_code + " " + current_customer.address %>
        </div>
        <div class = "pl-5">
          <%= current_customer.first_name + current_customer.last_name %>
        </div>
        <!--登録済み住所-->
        <div class = "pl-3 pt-3">
          <%= f.radio_button :select_address, 1 %>
          <%= f.label :address_type, "登録済み住所から選択" %>
          <div class = "pl-4">
            <%= f.select :address_id, options_from_collection_for_select(@addresses.all, :id, :address_display) %>
          </div>
        </div>
        <!--新しいお届け先-->
        <div class = "pl-3 pt-3">
          <%= f.radio_button :select_address, 2 %>
          <%= f.label :address_type, "新しいお届け先" %>
        </div>
        <table>
          <tbody>
            <tr>
              <td class="pl-5">郵便番号(ハイフンなし)</td>
              <td class="pl-2 pt-2">
                <%= f.text_field :postal_code, placeholder: "0000000" %>
              </td>
            </tr>
            <tr>
              <td class="pl-5">住所</td>
              <!--フォームのサイズ変更　長くした-->
              <td colspan="2" class="pl-2 pt-2">
                <%= f.text_field :address, size:"50", placeholder: "東京都渋谷区代々木神園町0-0" %>
              </td>
            </tr>
            <tr>
              <td class="pl-5">宛名</td>
              <td class = "pl-2 pt-2">
                <%= f.text_field :name, placeholder: "令和道子" %>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-center pt-3">
          <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
