<header style="position: fixed; top: 0; width: 100%; background: #0A6651; height: 100px; z-index: 1000;">
  <nav class= "navbar navbar-expand-lg navbar-dark" style="background: #0A6651; height:100px;">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-family:'Times New Roman'; font-size:40px;"><span>NaganoCake</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto" style="margin-top: 22px;">
          <% if admin_signed_in? %>
            <li>
              <%= link_to admin_items_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              <i class="fa-solid fa-cake-candles mr-2"></i>Items
              <% end %>
            </li>
            <li>
              <%= link_to admin_customers_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              <i class="fa-solid fa-users mr-2"></i>Customers
              <% end %>
            </li>
            <li>
              <%= link_to admin_root_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              <i class="fa-solid fa-cart-shopping mr-2"></i>Orders
              <% end %>
            </li>
            <li>
              <%= link_to admin_genres_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              <i class="fa-solid fa-list mr-2"></i>Category
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              <i class="fa-solid fa-right-from-bracket mr-2"></i>Log out
              <% end %>
            </li>
            <div>
              <%= render "admin/searches/form" %>
            </div>
          <% else %>
            <li>
              <%= link_to home_about_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px; margin-bottom: 20px;"  do %>
              <i class="fa-solid fa-hand-holding-heart mr-2"></i> About
              <% end %>
            </li>
            <li>
              <%= link_to items_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px; margin-bottom: 20px;"  do %>
              <i class="fa-solid fa-cake-candles mr-2"></i> Items
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_registration_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px; margin-bottom: 20px;"  do %>
              <i class="fa-solid fa-user-plus mr-1"></i> Sign Up
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px; margin-bottom: 20px;"  do %>
              <i class="fa-solid fa-arrow-right-to-bracket mr-2"></i> Log In
              <% end %>
            </li>
          <% end %>
        </ul>
       </nav>
    </div>
  </div>
</header>