<header>

  <nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class= "navbar-brand" href="/"><span>NaganoCake</span></a>
      <% if customer_signed_in? %>
        <p class = "text-white">ようこそ<%= current_customer.first_name_kana %>さん！</p>
      <% end %>
      <button class= "navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class= "navbar-toggler-icon"></span>
      </button>
      <div class= "collapse navbar-collapse" id="navbarNavDropdown">
      <ul class= "navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>
            <%= link_to my_page_path, class: 'nav-link text-light' do%>
              Mypage
            <% end %>
          </li>
          <li>
            <%= link_to items_path, class: 'nav-link text-light' do %>
              Items
            <% end %>
          </li>
          <li>
            <%= link_to cart_items_path, class: 'nav-link text-light' do %>
              Cart
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
               Log Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to home_about_path, class: 'nav-link text-light' do %>
              About
            <% end %>
          </li>
          <li>
            <%= link_to items_path, class: 'nav-link text-light' do %>
              Items
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
              Sign Up
            <% end %>
          </li>
          <li>
           <%= link_to new_customer_session_path, class: 'nav-link text-light' do %>
             Log In
            <% end %>
          </li>
        <% end %>
</header>