
<header>
  <nav class= "navbar navbar-expand-lg navbar-dark" style="background: #0A6651; height:100px;">
    <div class="container">
      <div class="logo-section d-flex justify-content-start">

         <% if admin_signed_in? %>
           <a class="navbar-brand " href="/admin" ><span><%= image_tag '1-removebg-preview.png', size: "160x160" %></span></a>
         <% else %>
           <a class="navbar-brand " href="/" ><span><%= image_tag '2-removebg-preview.png', size: "120x90" %></span></a>
         <% end %> 
      </div>  
      <% if customer_signed_in? %>
        <p class = "text-white">ようこそ<%= current_customer.first_name_kana %>さん！</p>
      <% end %>
      <button class= "navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class= "navbar-toggler-icon"></span>
      </button>
      <div class= "collapse navbar-collapse" id="navbarNavDropdown">
      <ul class= "navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>
            <%= link_to my_page_path, class: 'nav-link text-light', :style => "font-family:'Times New Roman'; font-size:20px;"  do%>
              Mypage
            <% end %>
          </li>
          <li>
            <%= link_to items_path, class: 'nav-link text-light', :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              Items
            <% end %>
          </li>
          <li>
            <%= link_to cart_items_path, class: 'nav-link text-light', :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              Cart
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light', :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
               Log Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to home_about_path, class: 'nav-link text-light', :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              About
            <% end %>
          </li>
          <li>
            <%= link_to items_path, class: 'nav-link text-light', :style => "font-family:'Times New Roman'; font-size:20px;" do %>
              Items
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path, class: 'nav-link text-light', :style => "font-family:'Times New Roman'; font-size:20px;" do %>
              Sign Up
            <% end %>
          </li>
          <li>
           <%= link_to new_customer_session_path, class: 'nav-link text-light', :style => "font-family:'Times New Roman'; font-size:20px;" do %>
             Log In
            <% end %>
          </li>
        <% end %>
      <%= render "public/searches/search" %>
</header>