<header style="position: fixed; top: 0; width: 100%; background: #0A6651; height: 100px; z-index: 1000;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background: #0A6651; height:100px;">
    <div class="container">
      <div class="logo-section d-flex justify-content-start">
        <a class="navbar-brand" href="/" style="font-family:'Times New Roman'; font-size:30px;"><span>NaganoCake</span></a>
      </div>  
      <% if customer_signed_in? %>
        <p class = "text-white" style="font-family: 'Playfair Display', serif; color: black; margin-top: 20px;">Welcome to <%= current_customer.first_name_kana %>！</p>
      <% end %>
      <div class= "collapse navbar-collapse" id="navbarNavDropdown">
      <ul class= "navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>
            <%= link_to my_page_path, class: "btn btn-outline-light rounded-pill mr-2 md-3", :style => "font-family:'Times New Roman'; font-size:20px;"  do%>
              <i class="fa-solid fa-user mr-2"></i>Mypage
            <% end %>
          </li>
          <li>
            <%= link_to items_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              <i class="fa-solid fa-cake-candles mr-2"></i>Items
            <% end %>
          </li>
          <li>
            <%= link_to cart_items_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              <i class="fa-solid fa-cart-shopping mr-2"></i>Carts
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
               <i class="fa-solid fa-right-from-bracket mr-2"></i>Log Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to home_about_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;"  do %>
              <i class="fa-solid fa-hand-holding-heart mr-2"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to items_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;" do %>
              <i class="fa-solid fa-cake-candles mr-2"></i> Items
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;" do %>
             <i class="fa-solid fa-user-plus mr-1"></i> Sign Up
            <% end %>
          </li>
          <li>
           <%= link_to new_customer_session_path, class: "btn btn-outline-light rounded-pill mr-2", :style => "font-family:'Times New Roman'; font-size:20px;" do %>
            <i class="fa-solid fa-arrow-right-to-bracket mr-2"></i> Log In
            <% end %>
          </li>
        <% end %>
      <div style="margin-top: 3px;">
          <%= render "public/searches/search" %>
        </div>
</header>
